---
extends: default

ignore: |
  .venv/

# Keep compatibility with Ansible Lint's opinionated `yamllint` checks.
rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
